<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/catalog.css') }}">
<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>
<body>
  <div class="container">
    <div class="row align-items-center mt-5">
       <div class="col"></div>

    <!-- GOOGLE PLUS SIGN IN-->
        <div class="col border pb-5" id="right-pane">
          <div class="col" id="signinButton">
            <h1>Please Sign In!!!</h1>
            <br>
            <span class="g-signin"
              data-scope="openid email"
              data-clientid="527630777384-i1mfqcsc7nup6en7qrtoijolrdpoeg65.apps.googleusercontent.com"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="force">
              </span>
          </div>
         </div> 
        <div class="col"></div>
    <div id="result"></div>

      <script>
      function signInCallback(authResult) {
        if (authResult['code']) {
          // Hide the sign-in button now that the user is authorized
          $('#signinButton').attr('style', 'display: none');
          // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
               setTimeout(function() {
                window.location.href = "/publiccatalog/";
               },1000);
                
            } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
               }
            }
            
        }); } }
      </script>
    <!--END GOOGLE PLUS SIGN IN -->
    </div>
  </div>
</body>
</html>